    {% extends 'base.html' %}
    {% load static %}
    {% block title %} Checkout {% endblock %}
    {% block content %}

    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Shopping Cart</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="product-content-right">
                        <div class="woocommerce">

                            <form  action=""  method="post">

                                <div id="payment">
                                        <ul class="payment_methods methods">
                                            <li class="payment_method_bacs">
                                                <input type="radio" data-order_button_text="" checked="checked" value="bacs" name="payment_method" class="input-radio" id="payment_method_bacs">
                                                <label for="payment_method_bacs">Direct Bank Transfer </label>
                                                <div class="payment_box payment_method_bacs">
                                                    <p>The funds have cleared in our account.</p>
                                                </div>
                                            </li>
                                            <li class="payment_method_cheque">
                                                <input type="radio" data-order_button_text="" value="cheque" name="payment_method" class="input-radio" id="payment_method_cheque">
                                                <label for="payment_method_cheque">Cheque Payment </label>
                                                <div style="display:none;" class="payment_box payment_method_cheque">
                                                    <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                                </div>
                                            </li>

                                        </ul>

                                    </div>
                                {{ form.as_p }}

                                <input type="submit" value="Place order" class="button alt">
                                {% csrf_token %}
                            </form>

                        </div>
                    </div>
                </div>
                 <div class="col-md-8">
                      <h3 id="order_review_heading">Your order</h3>

                                <div id="order_review" style="position: relative;">
                                    <table class="shop_table">
                                        <thead>
                                            <tr>
                                                <th class="product-name">Product</th>
                                                <th class="product-total">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in cart %}
                                            <tr class="cart_item">
                                                <td class="product-name">
                                                    {{ item.product.title }} <strong class="product-quantity">× {{ item.count }}</strong> </td>
                                                <td class="product-total">
                                                    <span class="amount">${{ item.total_price }}</span> </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>

                                            <tr class="cart-subtotal">
                                                <th>Cart Subtotal</th>
                                                <td><span class="amount">${{ cart.get_total_price }}</span>
                                                </td>
                                            </tr>

                                            <tr class="shipping">
                                                <th>Shipping and Handling</th>
                                                <td>

                                                    Free Shipping

                                                </td>
                                            </tr>


                                            <tr class="order-total">
                                                <th>Order Total</th>
                                                <td><strong><span class="amount">${{ cart.get_total_price }}</span></strong> </td>
                                            </tr>

                                        </tfoot>
                                    </table>



                                </div>
                 </div>
            </div>
        </div>
    </div>

{% endblock %}