{% extends 'base.html' %}
{% load static custom_tags%}
{% block title %} Product {% endblock %}
{% block content %}

    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Shop</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="single-product-area">
        <div class="zigzag-bottom">

        </div>
        <div class="container">
            <div class="row">
                {% for product in product_list %}
                    <div class="col-md-3 col-sm-6">
                        <div class="single-shop-product">
                            <div class="product-upper">
                                <img src="{{ product.pic.url }}" alt="{{ product.alt }}" width="190">
                            </div>
                            <div class="product-carousel-title">
                                <a href="{{ product.get_absolute_url }}"><h4>{% my_slice product.title %}</h4></a>
                            </div>
                            <div class="product-carousel-price">
                                <ins>{{ product.price }}</ins> {% if product.has_discount %}<del>{{ product.super_price }}</del> {% endif %}
                            </div>

                            <div class="product-option-shop">
                                 <form action="{% url 'cart_add' product.id %}" method="post">
                                        {{ cart_product_from }}
                                        {% csrf_token %}
                                        <input type="submit" value="Add to cart"/>
                                    </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="product-pagination text-center">
                        <nav>
                          <ul class="pagination">
                            <li>
                              <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                              <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                          </ul>
                        </nav>                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}